.content {
    overflow: hidden;
    height: auto;
    padding: 20px;
    width: 100%;
}

mat-form-field {
    width: 100%;
  }

textarea { display: block; width: 100%; }

.purple1 {
  color: #e0cdf1;
}

.purple2 {
  color: #d1a9f7;
}

.purple3 {
  color: #c388fa;
}

.purple4 {
  color: #ae63f3;
}

.purple5 {
  color: #9944e9;
}

.purple6 {
  color: #8f1afc;
}